



<fieldset class="col-sm-8 scheduler-border">
  <legend class="scheduler-border"><strong>Create an Event  </strong></legend>
  
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <!-- Title -->
    <div>
    <mat-form-field class="title">
          
          <input matInput    type="text" placeholder="Enter Title" id="title" formControlName="title">
        </mat-form-field>
  
      </div> 
      <!-- Description -->
    <div>
        <mat-form-field class="description">
              
              <input matInput  type="text" placeholder="Enter Description" id="description" formControlName="description">
            </mat-form-field>
      
          </div>  
          <!-- Start Time -->
    <div>
        <mat-form-field class="title">
              
              <input matInput  type="datetime-local"  placeholder="Enter Start Time" id="startTime" formControlName="startTime">
            </mat-form-field>
      
          </div> 
  
  
          <!-- End Time -->
    <div>
        <mat-form-field class="title">
              
              <input matInput  type="datetime-local"  placeholder="Enter End Time" id="startTime" formControlName="endTime">
            </mat-form-field>
      
          </div> 
  
  
  
     <!-- <div class="form-group"><label for="">Title</label>
        <input formControlName="title"  class="form-control"
         type="text"  />
         
        </div>
    
      
    
    <div class="form-group"><label for="">Description</label>
      <input formControlName="description"  class="form-control"
       type="text" />
       
      </div>
  
  
      <div class="form-group"><label for="">Start Time</label><input formControlName="startTime"  class="form-control" 
        type="datetime-local" />
            </div>
    
          <div class="form-group"><label for="">End Time</label><input formControlName="endTime"  class="form-control" 
      type="datetime-local" />
        </div>   -->
  
  
    
    <!--  <div class="form-group"><label for="">Select User</label>
    <select name="user" id="user" formControlName="users" class="form-control"
    >
      <option *ngFor="let user of users" [value]="user.id">
        {{user.name}}
      </option>
    </select>
    </div>
    <div class="form-group">
      <label for="">Add or Remove Invitations</label>
    <input type="text" class="form-control" (keyup.enter)="inviteUser(val)" #val/>
    <ul class="list-group">
      <li 
      *ngFor="let user of myForm.get('invitedUsers').controls"
      (click)="removeInvitation(user)"
      class="list-group-item"
      >{{user.value}}</li>
    </ul>
  </div>    -->
  <div>
  <mat-form-field>
      <mat-label>Add Invitees</mat-label>
      <mat-select formControlName="invaitedUsers" multiple>
        <mat-option *ngFor="let user of (users | async)?.data" [value]="user">{{user.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button type="submit" mat-raised-button color="blue" [disabled]="!myForm.valid" >Save</button>
  <a mat-raised-button color="warn" [routerLink]="['/events']">Cancel</a>
  
  </form>
  </fieldset>