<form [formGroup]="userEventsForm" (ngSubmit)="onSubmit()">
  <div class="contentDiv">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{eventData.title}}</mat-card-title>
        <mat-card-subtitle>
          <p>Created by: {{eventData.owner.name}} - {{eventData.owner.email}}</p>
          <p>Start date: {{eventData.startTime | date :'medium'}}</p>
          <p>End date : {{eventData.endTime | date :'medium' }}</p>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{eventData.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button (click)="updateStatus('Going')">Going</button>
        <button mat-button (click)="deleteAccount('Maybe')">Maybe</button>
        <button mat-button (click)="deleteAccount('Not Going')">Not Going</button> -->
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngFor="let cmnt of eventData.comments">
    <mat-card class="comments-card">
      <mat-card-header>
        <div mat-card-avatar class="example-comment-image"></div>
        <mat-card-title>{{cmnt.comment}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{cmnt.name}}
        </p>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>

  <div>
    <mat-card class="comment-card">
      <mat-card-header>
        <div mat-card-avatar class="example-comment-image"></div>
        <mat-card-title>

        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Leave a comment" id="eventComment" formControlName="comment"> </textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
    <button type="submit" mat-raised-button [disabled]="!userEventsForm.valid">Comment</button>
  </div>

</form>