<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

  <h2>User Registeration</h2>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter your E-mail" id="email" formControlName="email">
    <mat-error *ngIf="!userForm.get('email').valid">
        Please enter a valid email address
    </mat-error>
  </mat-form-field>

  <div formGroupName="passwordGroup">
    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="Enter Password" id="password" formControlName="password">
       <mat-error>
          Invalid password, Must contain at least one number and lowercase letter, and at least 6 or more characters
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="Confirm Password" id="confirmPassword" formControlName="confirmPassword" [errorStateMatcher]="matcher">  
    </mat-form-field>
    <mat-error *ngIf="userForm.get('passwordGroup').hasError('notSame')">
         Passwords do not match
     </mat-error>
  </div>
  <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="Your Name" id="name" formControlName="name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="Phone Number" id="phone" [value]="userForm.get('phone').value | phoneFormat" formControlName="phone">
    <mat-error *ngIf="!userForm.get('phone').valid">
        phone number must be 10 numbers
    </mat-error>
  </mat-form-field>

  <mat-radio-group formControlName="gender" aria-label="Select an option" >
      <mat-radio-button  *ngFor="let g of genders" [value]="g">{{g | CapitalizeFL}}</mat-radio-button>
  </mat-radio-group>

  <div formGroupName="address">
    <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="State" id="state" formControlName="state">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="City" id="city" formControlName="city">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="Street" id="street" formControlName="street">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="Zipcode" id="zipCode" formControlName="zipCode">
    </mat-form-field>
  </div>
  <button type="submit" mat-raised-button color="warn" [disabled]="!userForm.valid">Register</button>
</form>