<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <h2>User Data</h2>
  <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="Your Name" id="name" formControlName="name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="Phone Number" id="phone" formControlName="phone" [value]="userForm.get('phone').value | phoneFormat">
    <mat-error *ngIf="!userForm.get('phone').valid">
        phone number must be 10 numbers
    </mat-error>
  </mat-form-field>

  <mat-radio-group formControlName="gender" aria-label="Select an option">
    <mat-radio-button *ngFor="let g of genders" [value]="g">{{g | CapitalizeFL}} </mat-radio-button>
  </mat-radio-group>

  <h2>Address</h2>
  <div formGroupName="address">
    <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="State" id="state" formControlName="state">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="City" id="city" formControlName="city">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="Street" id="street" formControlName="street">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="Zipcode" id="zipCode" formControlName="zipCode">
    </mat-form-field>
  </div>

  <button type="submit" mat-raised-button color="primary" [disabled]="!userForm.valid">Update</button>
  <button type="button" mat-raised-button color="warn" (click)="deleteAccount()">Delete Account</button>
</form>